 	header{
  width: 100%;
  min-height: 105vh	;
  background: #154E81;
}

section{
  width: 100%;
  background: #2DAEBF;
  min-height: 100vh;
}

article{
  background: #80C41C;
  width: 100%;
  min-height: 100vh;
}

/* */


.simply-section {
	width: 180px;
	height: 180px;
	margin: 0 20px;
	border-radius: 5px;
	flex-wrap: wrap;
	justify-content: center;
}

.simply-amount {
	display: block;
	font-size: 50px;
	font-weight: 700;
}

.simply-word {
	font-weight: 300;
	font-size: 30px;
}

